@font-face{
    font-family: '612';
    src:url('police/B612-Regular.ttf');  
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: '612';
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
}

.small{
    font-size: 1em;
    color: red;
}

.pointer-input, #emote-profil{ /* emote-profil = emote avatar + mot profil */
    cursor: pointer;
}
/* --------------------------- Mise en page des pages d'inscriptions --------------------------- */
.body-login{
    background-image: url(logos/icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.main-login{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3em;
    padding:2%;
}

.principal-title{
    margin-top: 10%;
    margin-bottom: 5%;
}

.inscription-form{
    font-size: 0.8em;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 1em;
    width: 70%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.value-input-inscription{
    padding: 0.4em;
    margin: 0.5em;
}

#go-to-network, #send-post, .button-comment-post{
    font-size: 1em;
    background:rgb(175, 20, 20);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 0.2em 0.5em;
}

.have-account{
    margin-top: 2em;
}

/* --------------------------- Mise en page de la page d'accueil --------------------------- */

/* ---- Bannière Groupomania ---- */
.header-groupomania{
    display: flex;
    background-color: #ffd7d7;
    border-bottom: 0.5em solid #fd2d01;
    justify-content: space-between;
}

.logo-header{
    padding: 1em;
    height: 5em;
}

.ul-home{
    display: flex;
    padding: 1.5em;
    margin-right: 2em;
}

.li-home{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 2em;
}

.text-nav{
    margin-top: 0.8em;
}
/* ---- Animation des icones sur la page d'accueil pour aller sur le profil et/ou se deconnecter ---- */
.emote-nav-home:hover {
    animation-name : zoom;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    transform: scale(1);
    cursor: pointer;
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);            
    }
}

/* ---- Mise en place des publications ---- */
.body-reseau, .body-profil{
    background-color: gainsboro;
}

.main-reseau{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 70%;
}

.interface-form-publication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: grey solid 2px;
    border-radius: 10px;
    margin: 3em 0;
    padding: 2em;
    background: white;
}

.input-form-publication{
    margin: 1em;
}

#textarea-publi{
    width: 60%;
}

.titre-derniere-publi{
    font-size: 1.2em;
}

.publication{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.header-publication{
    display: flex;
    justify-content: space-between;
}

.auteur-publication{
    padding-left: 1em;
}

.image-publication{
    margin: auto;
    height: 25em;
    width: 100%;
}

.content-publication{
    font-size: 0.8em;
    font-weight: lighter;
    margin: 0.5em;
    text-align: left;
}

.update-publication{
    display: none;
}

/* affichage souris sur les icones delete et update */
.fa-trash-alt, .fa-edit{ 
    cursor: pointer;
}

/* ---- Apparition du formulaire pour faire un update  ----*/
.form-modale, .profil-update{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgba(159, 159, 159, 0.46) 0%, rgba(159, 159, 159, 0.46) 14.286%,rgba(165, 165, 165, 0.46) 14.286%, rgba(165, 165, 165, 0.46) 28.572%,rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 42.858%,rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%,rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%,rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%,rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%),linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%,rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%,rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%,rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%,rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%,rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%,rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
    position: fixed;
    font-weight: bold;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin : 2em;
    z-index: 1;
    padding:3em;
    visibility: hidden;
    opacity: 0;
}

.form-modale.show, .profil-update.show{
    visibility: visible;
    opacity: 1;
}

.form-for-update-post{
    text-align: center;
    padding: 10em;
}

.input-update-form{
    width: 50%;
    margin: auto;
}

.image-publication-modale{
    width: 20em;
    height: 20em;
}

.ask-image{
    margin: auto;
}

/* -- Mise en place commentaire --*/
.commentaire{
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    background: gainsboro;
    border-radius: 5px;
    margin : 0.7em 0;
    padding: 0.5em;
}

.comment-content{
    font-weight: lighter;
}

.input-new-comment{
    display: flex;
    justify-content: center;
    order: 1;    /* Order 1 car avec la dispotion du HTML l'input apparait avant l'apparition des commentaires */
    margin: 1em;
}

.input-commentaire{
    width: 50%;
}
 .small-input-new-comment{
    order :2;
 }

 .button-comment-post{
     font-size: 0.8em;
     margin-left: 1em;
 }
/* affichage input modif d'un commentaire */
.hideCommentaire{
    display: none;
}

/* --------------------------- Mise en page de la page de profil --------------------------- */
.main-profil{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 2em 5em;
    padding-top: 5em;
    height: 65vh;
    background: white;
}

#go-to-edit, #back-to-network{
    font-size: 0.8em;
}

#go-to-edit{
    font-size: 0.8em;
    margin-top: 4em;
}

.photo-profil{
    height:7em;
    width: 7em;
    border: solid #fd2d01 4px;
    border-radius: 50%;
}

.photo-user-before-edit{
    margin-top: 0.5em;
}

.image-for-update, #send-profil{
    margin-bottom: 2.5em;
}

#new-description{
    width: 50%;
}

#send-profil{
    font-size: 1em;
    cursor: pointer;
    padding: 0.2em 0.7em;
}

.button-update-user, .button-modale-update-post{
    font-size: 1em;
    background:#fd2d01;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    margin: 0.5em;
    padding: 0.2em 0.7em;
}

@media screen and (max-width: 900px){
    .main-reseau{
        width: 100%;
    }
    .publication-home{
        margin: 2em;
    }
}

@media screen and (max-width: 650px){
    .header-groupomania{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .ul-home{
        flex-direction: column;
    }
    .li-home{
        font-weight: bold;
        flex-direction: row;
        margin: auto;
        align-items: center;
        font-size: 1.1em;
        padding-left: 0; /* il est a 5 en grand ecran */
    }
    .li-home-top{
        margin-bottom: 1.1em;
    }
    .emote-nav-home{
        padding-right: 1em;
    }
    .date-publication-post{
        font-size: 0.75em;
    }
    .main-profil{
        height: auto;
        margin: 1.8em;
    }
    .profil-update{
        font-size: 0.8em;
    }
}


