*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: '612';
    src:url('police/B612-Regular.ttf');  
}

/* ---- Mise en page des pages d'inscriptions ---- */
.body-login{
    font-family: '612';
    background-image: url(logos/icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.main-login{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3em;
    padding:2%;
}

.principal-title{
    margin-top: 10%;
    margin-bottom: 5%;
}

.inscription-form{
    font-size: 0.8em;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 1em;
    width: 70%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.value-input-inscription{
    padding: 0.4em;
    margin: 0.5em;
}

#go-to-network{
    font-size: 1em;
    background:rgb(175, 20, 20);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 0.2em 0.5em;
}

.have-account{
    margin-top: 2em;
}

/* ---- Mise en page de la page d'accueil ---- */
.header-groupomania{
    display: flex;
    height: 7em;
    background-color: #ffd7d7;
    border-bottom: 0.5em solid #fd2d01;
    justify-content: space-between;
}

.logo-header{
    padding: 1em;
    height: 5em;
}

.ul-home{
    display: flex;
    list-style: none;
    padding: 1.5em;
    margin-right: 4em;
}

.li-home{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 5em;
}

.lien-nav-header{
    text-decoration: none;
    color: black;
}

.main-reseau{
    width: 70%;
    text-align: center;
}

#textarea-publi{
    width: 35%;
    resize: none;
}

.emote-nav-home:hover {
    animation-name : zoom;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    transform: scale(1);
    cursor: pointer;
}

.publication{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 1em;
    padding: 0.5em;
}

.header-publication{
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
}

.auteur-publication{
    padding-left: 2em;
}

.image-publication{
    height: 20%;
    width: 40%;
}

.date-publication{
    padding-right: 2em;
}

.commentaire{
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 1em;
    padding: 0.5em;
}

.image-nom-commentaire{
    display: flex;
}

.input-new-comment{
    order: 1;
}

.update-publication{
    display: none;
}

/* affichage souris sur les icones delete et update */
.fa-trash-alt, .fa-edit{ 
    cursor: pointer;
}

/* ---- Apparition du formulaire pour faire un update  ----*/
.form-modale, .profil-update{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    z-index: 1;
    width: 80%;
    height: 60%;
    justify-content: center;
    padding: 2em;
    visibility: hidden;
    opacity: 0;
}

.form-modale.show, .profil-update.show{
    visibility: visible;
    opacity: 1;
}

.form-for-update-post{
    text-align: center;
    padding: 10em;
}

.input-update-form{
    width: 50%;
    margin: auto;
}


/* ---- Animation des icones sur la page d'accueil pour aller sur le profil et/ou se deconnecter ---- */
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);            
    }
}

/* ---- Mise en page de la page de profil ---- */
.main-profil{
    display: flex;
    flex-direction: column;
}

.profil{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 75%;
    border: solid 0.3em #fd2d01 ;
    border-radius: 2em;
    padding: 1em;
}

.photo-profil{
    height: 20%;
    width: 40%;
}

.profil-title{
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #1A237E;
    text-align: center;
}

.profil-description{
    margin: auto;
    margin-bottom: 2em;
    color: #fd2d01;
}

.back-network{
    margin: auto;
    font-size: 1.1em;
    margin-bottom: 2em;
}

.delete-account{
    width: 10em;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 2em;
}

