@font-face{
    font-family: '612';
    src:url('police/B612-Regular.ttf');  
}

/* ---- Mise en page des pages d'inscriptions ---- */
body{
    margin: 0;
    font-family: '612';
    display: flex;
    flex-direction: column;
}

.logo-login{
    height: 25em;
}
.principal-title{
    margin : auto;
    margin-bottom: 1em;
}

.inscription-form{
    border: 0.5px solid grey;
    margin: auto;
    margin-bottom: 0.8em;
    padding: 0.5em;
    width: 12em;
}

/* ---- Mise en page de la page d'accueil ---- */
header{
    display: flex;
    height: 7em;
    background-color: #ffd7d7;
    border-bottom: 0.5em solid #fd2d01;
    justify-content: space-between;
}

.logo-header{
    padding: 1em;
    height: 5em;
}

.ul-home{
    display: flex;
    list-style: none;
    padding: 1.5em;
    margin-right: 4em;
}

.li-home{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 5em;
}

.lien-deco{
    text-decoration: none;
    color: black;
}

.publication-home{
    font-size: 1.5em;
    text-align: center;
}

.textarea-publi{
    width: 35%;
    resize: none;
}

.emote-nav-home:hover {
    animation-name : zoom;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    transform: scale(1);
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);            
    }
}
